<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjIVAywb17hdnVMMX_4sJ1m8SPFWVthf0</string>
	<key>GCM_SENDER_ID</key>
	<string>850447987711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fcmapp</string>
	<key>PROJECT_ID</key>
	<string>fcmflutter-f115d</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmflutter-f115d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850447987711:ios:83b76b984d0ed29400edca</string>
</dict>
</plist>